#ignore all files (so that everyone can use IDE which they want and we don't about garbage .js and .map files)
/**/*

#unignore important files from main dir
!.gitignore
!LICENSE
!README.md
!Gruntfile.js
!package.json

#unignore src dir and its .coffee contents
!src
!src/*.coffee

#unignore test dir, its .coffee contents and other important files
!test
!test/*.js
!test/spec
!test/spec/*.coffee

#unignore dist dir
!dist
!dist/*
